#UploadButton {
  min-height: 5rem;
  min-width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 0.5rem #fff solid;
  background: linear-gradient(to top, #b2bdc5 50%, #c2e1b8 50%);
  background-size: 100% 200%;
  background-position: 0 -100%;
  transition: all 0.15s ease;
  position: absolute;
  bottom: 10rem;
  left: 10rem;
}

#UploadButton::after {
  content: 'UPLOAD';
  position: absolute;
  color: var(--darkFont);
  letter-spacing: 3px;
  bottom: -2.5rem;
  font-weight: 800;
}

#UploadButton:hover {
  background-position: 0 -50%;
  box-shadow: 0 0 1rem #000;
}

.example a {
  padding: 3px;
  border-radius: 1px;
  color: rgba(107, 54, 62, 0.9);
  background-color: rgba(107, 54, 62, 0.1);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
  background-size: 100% 200%;
  background-position: 0 -100%;
  background-image: linear-gradient(to top, transparent 50%, rgba(107, 54, 62, 0.9) 50%);
}
.example a:hover {
  color: #fff;
  background-position: 0 0;
}
