.logo {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}
.hero-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  position: absolute;
  top: 35%;
  left: 5%;
  z-index: 10;
}

.hero-comment {
  color: var(--darkFont);
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 6px;
  position: absolute;
  top: 50%;
  left: 7%;
  z-index: 10;
  width: 35rem;
}
.hero-image-container {
  height: 80%;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 5;
}
.planet {
  height: 70%;
  width: auto;
  position: absolute;
  top: 15%;
  z-index: 5;
  animation: Float 5s infinite ease-in-out alternate;
}

.cloudOne {
  height: 8rem;
  width: auto;
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 3;
  animation: moveLeft 15s infinite ease-in-out alternate;
}

.cloudTwo {
  height: 5rem;
  width: auto;
  position: absolute;
  top: 35%;
  right: 10%;
  z-index: 7;
}

.cloudThree {
  height: 12rem;
  width: auto;
  position: absolute;
  bottom: 0%;
  right: 5%;
  z-index: 3;
  animation: moveRight 15s infinite ease-in-out alternate;
}

@keyframes Float {
  0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(-5%);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(20%);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(40%);
  }
  50% {
    transform: translateX(-25%);
  }
}

/* Modal */
.modal-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.691);
  z-index: 100;
}
.modal-container {
  height: 70vh;
  width: 60vw;
  min-width: 55rem;
  border-radius: 15px;
  position: absolute;
  top: calc(50% - 35vh);
  left: calc(50% - 30vw);
  background: rgb(255, 255, 255);
  box-shadow: 0 0 5rem #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.close-button {
  min-height: 2rem;
  min-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 0.2rem #fff solid;
  background: linear-gradient(to top, #b2bdc5 50%, #c2e1b8 50%);
  background-size: 100% 200%;
  background-position: 0 -100%;
  transition: all 0.15s ease;
  position: absolute;
  top: 1rem;
  right: 1rem;
  box-shadow: 0 0 1rem #000;
  z-index: 10;
}

.close-button:hover {
  background-position: 0 -50%;
  box-shadow: 0 0 2rem #000;
}

.modal-bear {
  height: 80%;
  width: auto;
  position: absolute;
  top: calc(50% - 40%);
  left: 1rem;
}
.modal-info {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.modal-material {
  height: 20rem;
  width: auto;
  position: absolute;
  top: 5rem;
}

.material-label {
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 5rem;
    left: 2rem;
}

.modal-state {
  color: var(--darkFont);
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 6px;
  text-transform: uppercase;
  position: absolute;
  bottom: 3rem;
}

.modal-state::before {
  content: 'It is:';
  color: #000;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: absolute;
  top: -2rem;
}
